@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: linear-gradient(to bottom right, #00FF57, #7F00E2);
    height: 100%;
    width: 100%;
}

.cont {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

.right {
    float: right;
    background-color: rgba(234, 234, 234, 0.35);
    height: 86vh;
    width: 40%;
    margin-right: 7vh;
    margin-top: 7vh;
    border-radius: 1vh;
}

.left {
    float: left;
    height: 86vh;
    width: 52%;
    margin-top: 7vh;
    margin-left: 7vh;
}

.buzzArea {
    height: 58vh;
    width: 100%;
    border-radius: 1vh;
    background-color: rgba(234, 234, 234, 0.6); ;
}

#buzzer {
    height: 53vh;
    border-radius: 26.5vh;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 5vh;
    background-image: linear-gradient(to bottom right, #FF0000, #820000);
    margin-left: 25%;
    font-size: 40px;
    width: 53vh;
    transition: ease-in-out all 0.15s;
    color: white;
}

#buzzer:hover {
    border: 1.5vh solid white;
    transition: ease-in-out all 0.15s;
}

.buzzArea {
    text-align: center;    
}

.buzzArea h1 {
    padding-top: 19vh;
    font-family: 'Raleway';
    font-size: 60px;
}

.buzzArea h2 {
    font-family: 'Roboto';
}


.buzzArea p {
    font-weight: bold;
    font-size: 20px;
    padding-top: 8vh;
}

.userResponse {
    background-color: rgba(234, 234, 234, 0.35);
    width: 100%;
    height: 26vh;
    margin-top: 2vh;
    padding: 20px;
    border-radius: 1vh;
}

.responseHolder {
    height: 96%;
    width: 96%;
    overflow-y: auto;
    margin: 2%;
}

.response {
    width: 100%;
    height: 16.4vh;
}

.response>.data h1 {
    float: left;
    font-family: "Raleway", sans-serif;
    padding: 1vh;
    font-size: 5vh;
    font-weight: bold;
}

.response>.data h2 {
    float: right;
    font-family: "Roboto", sans-serif;
    padding: 1vh;
    margin-right: 1vh;
    /* margin-top: 1vh; */
    font-size: 5vh;
    font-weight: bold;
}

.response>.data p {
    float: left;
    position: absolute;
    margin-top: 6vh;
    margin-left: 1.2vh;
    font-size: 3vh;
}

.response:nth-of-type(odd) {
    background-color: rgba(240, 240, 240, 0.5);
}

.response:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.5);    
}

.responseHolder::-webkit-scrollbar {
    display: none;
}

.data {
    padding: 17px;
}

.buttonBuzz {
    width: 45%;
    margin: 4vh 0;
    height: 80px;
    border: none;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
}

.buttonBuzz:hover {
    border: 5px solid white;
}

#activate {
    background-color: #007004;
    margin-left: 3%;
    margin-right: 1%;
    font-family: 'Roboto', sans-serif;
}

#deactivate {
    background-color: #ff2b2b;
    font-family: 'Roboto', sans-serif;
}

.fireworks {
    position: absolute;
    top: 15vh;
    z-index: -1;
    left: 18%;
}