@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: linear-gradient(to bottom right, #00FF57, #7F00E2);
    height: 100%;
    width: 100%;
}

.cont {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: none;
}

.right {
    float: right;
    background-color: rgba(234, 234, 234, 0.35);
    height: 86vh;
    min-width: 300px;
    width: 40%;
    margin-right: 7vh;
    margin-top: 7vh;
    border-radius: 1vh;
}

.left {
    float: left;
    height: 86vh;
    width: 52%;
    margin-top: 7vh;
    min-width: 300px;
    margin-left: 7vh;
}

.buzzArea {
    height: 63vh;
    width: 100%;
    border-radius: 1vh;
    background-color: rgba(234, 234, 234, 0.6); ;
}

.buzzerActive {
    border-radius: 26.5vh;
    height: 25.5vw;
    border-radius: 12.75vw;
    min-width: 240px;
    /* min-height: 240px; */
    width: 25.5vw;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 5vh;
    background-image: linear-gradient(to bottom right, #FF0000, #820000);
    margin-left: 25%;
    font-size: 40px;
    width: 53vh;
    transition: ease-in-out all 0.15s;
    color: white;
}

.buzzerInactive {
    height: 25.5vw;
    border-radius: 12.75vw;
    min-width: 240px;
    /* min-height: 240px; */
    border: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 5vh;
    background-image: linear-gradient(to bottom right, #A7A7A7, #4F4F4F);
    margin-left: 25%;
    font-size: 40px;
    width: 25.5vw;
    transition: ease-in-out all 0.15s;
    color: white;
}

#invisible {
    position: absolute;
    height: 63%;
    z-index: 5;
    width: 52%;
    background-color: rgba(255, 255, 255, 0);
}

.buzzerActive:hover {
    border: 1.5vh solid white;
    transition: ease-in-out all 0.15s;
}

.userResponse {
    background-color: rgba(234, 234, 234, 0.35);
    width: 100%;
    height: 21vh;
    margin-top: 2vh;
    padding: 20px;
    border-radius: 1vh;
}

.responseHolder {
    height: 96%;
    width: 96%;
    overflow-y: auto;
    margin: 2%;
}

.response {
    width: 100%;
    height: 16.4vh;
}

.response>.data h1 {
    float: left;
    font-family: "Raleway", sans-serif;
    padding: 1vh;
    font-size: 5vh;
    font-weight: bold;
}

.response>.data h2 {
    float: right;
    font-family: "Roboto", sans-serif;
    padding: 1vh;
    margin-right: 1vh;
    /* margin-top: 1vh; */
    font-size: 5vh;
    font-weight: bold;
}

.response>.data p {
    float: left;
    position: absolute;
    margin-top: 6vh;
    margin-left: 1.2vh;
    font-size: 3vh;
}

.userResponse h1 {
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
}

.response:nth-of-type(odd) {
    background-color: rgba(240, 240, 240, 0.5);
}

.response:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.5);    
}

.responseHolder::-webkit-scrollbar {
    display: none;
}

.data {
    padding: 17px;
}

.userResponse > h1 {
    float: left;
    padding-top: 5vh;
    width: 70%;
}

.userResponse > button {
    background-color: #ff2b2b;
    font-family: 'Roboto', sans-serif;
    width: 20%;
    margin: 1.8vh 0;
    height: 80px;
    border: none;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    float: right;
    border-radius: 5px;
}

.userResponse > button:hover {
    border: 5px solid white;
}

@media only screen and (max-device-width: 480px) {
    /* define mobile specific styles come here */

    .right {
        margin-top: -27vh;
        margin-right: 5.5vh;
        margin-bottom: 10vh;
    }

    #invisble {
        height: 20vh;
        background-color: white;
    }

    .buzzArea {
        height: 20vh;
    }

    .buzzerInactive {
        padding: 5%;
        margin: 10%;
    }

    .buzzerActive {
        padding: 5%;
        margin: 10%;
        width: 240px;
    }

    .response p {
        display: none;
        text-align: center;
        float: left;
        font-size: 10px;
    }

    .response h1 {
        text-align: center;
    }

    .response {
        font-size: 10px;
        text-align: center;
        height: 20vh;
    }
    
    .userResponse > h1 {
        width: 100%;
        text-align: center;
    }

    .userResponse > button {
        width: 100%;
    }

    .userResponse {
        height: 35vh;
    }
}